.Form {
    display: flex;
    flex-direction: column;
    flex: 0 0 49%;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    height: 530px;
}
.Form form {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 100%;
    align-items: center;
}
.Form form input {
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    font-size: 26px;
    text-align: center;
}
.Form form label {
    margin: 50px 0 10px 0;
}